
    body
    {
        margin:             50px;
        text-align:         center;
        background:         #3d3d3d;
        color:              #3d3d3d;
        font-family:        Century Gothic, Futura, sans-serif;
    }

    h1#title
    {
        font-size:          35px;
        margin:             15px 0 0 0;
    }

    div#mainContainer
    {
        text-align:         center;
        overflow:           hidden;
        margin:             0 auto 0 auto;
        width:              1000px;
        height:             667px;
        background:         #ffffff;
    }

    input#userInput
    {
        color:              #3d3d3d;
        width:              200px;
        height:             30px;
        border:             solid 1px #3d3d3d;
        border-radius:      10px;
        padding:            0 10px 0 10px;
        margin:             15px 0 0 0;
        outline:            none;
        text-align:         center;
        font-size:          15px;
        background:         #ffffff;
        transition:         background 0.5s ease-in;
    }

    input#userInput:focus
    {
        background:         #e2e2e2;
    }

    input#userInput.error
    {
        background:         #ff7086;
    }

    button#userButton
    {
        border-radius:      10px;
        border:             solid 1px #3d3d3d;
        height:             30px;
        outline:            none;
        font-size:          15px;
        color:              #ffffff;
        background:         #8c8c8c;
        transition:         background 0.5s ease-in;
        padding:            0 10px 0 10px;
        margin:             15px 0 0 0;
    }

    button#userButton:hover
    {
        background:         #646464;
    }

    button#userButton:active
    {
        background:         #3d3d3d;
        transition:         background 0.0s ease-in;
    }

    ul#todoList
    {
        list-style-type:    none;
        margin:             15px auto 15px auto;
        padding:            0;
    }

    @keyframes fadeIn { from { opacity: 0.0; } to { opacity: 1.0; } }

    ul#todoList li
    {
        border:             1px solid #646464;
        animation:          fadeIn 1.0s ease-in;
        background:         #ff0000;
        margin:             20px;
    }
