
    body
    {
        margin:             50px;
        text-align:         center;
        background:         #747474;
        overflow-x:         auto;
        overflow-y:         scroll;
    }

    *
    {
        font-family:        Century Gothic, Futura, sans-serif;
        font-size:          15px;
        color:              #3d3d3d;
        border:             0;
        border-radius:      8px;
        transition:         all 0.5s ease-in;
    }

    h1#appTitle
    {
        margin:             0;
        font-size:          35px;
    }

    div#mainContainer
    {
        background:         #ffffff;
        text-align:         center;
        overflow:           hidden;
        margin:             0 auto 0 auto;
        width:              640px;
        height:             150px;
    }

    input#userInput
    {
        background:         #e2e2e2;
        color:              #3d3d3d;
        width:              300px;
        height:             30px;
        border:             0;
        padding:            0 10px 0 10px;
        margin:             15px 0 0 0;
        outline:            none;
        text-align:         center;
    }

    input#userInput:focus
    {
        background:         #cacaca;
    }

    input#userInput.error
    {
        background:         #ff7086;
    }

    input#submitButton
    {
        border:             0;
        height:             30px;
        outline:            none;
        color:              #ffffff;
        background:         #8c8c8c;
        padding:            0 10px 0 10px;
        margin:             15px 0 0 0;
        cursor:             pointer;
    }

    input#submitButton:hover
    {
        background:         #646464;
    }

    input#submitButton:active
    {
        background:         #3d3d3d;
    }

    ul#taskList
    {
        list-style-type:    none;
        margin:             15px auto 15px auto;
        padding:            0;
    }

    @keyframes fadeIn { from { opacity: 0.0; } to { opacity: 1.0; } }

    ul#taskList li
    {
        border:             0;
        animation:          fadeIn 1.0s ease-in;
        background:         #a5e2bf;
        height:             40px;
        line-height:        40px;
        margin:             15px 15px 0 15px;
    }
