
    body
    {
        margin:             50px;
        text-align:         center;
        color:              #3d3d3d;
        background:         #747474;
        font-family:        Century Gothic, Futura, sans-serif;
        overflow-x:         auto;
        overflow-y:         scroll;
    }

    h1#title
    {
        font-size:          35px;
        margin:             0;
    }

    div#mainContainer
    {
        background:         #ffffff;
        text-align:         center;
        overflow:           hidden;
        margin:             0 auto 0 auto;
        width:              640px;
        border-radius:      10px;
        height:             150px;
        transition:         height 0.5s ease-in;
    }

    input#userInput
    {
        background:         #e2e2e2;
        color:              #3d3d3d;
        width:              300px;
        height:             30px;
        border:             0;
        border-radius:      10px;
        padding:            0 10px 0 10px;
        margin:             15px 0 0 0;
        outline:            none;
        text-align:         center;
        font-size:          15px;
        transition:         background 0.5s ease-in;
    }

    input#userInput:focus
    {
        background:         #cacaca;
    }

    input#userInput.error
    {
        background:         #ff7086;
    }

    input#userButton
    {
        border-radius:      10px;
        border:             0;
        height:             30px;
        outline:            none;
        font-size:          15px;
        color:              #ffffff;
        background:         #8c8c8c;
        transition:         background 0.5s ease-in;
        padding:            0 10px 0 10px;
        margin:             15px 0 0 0;
    }

    input#userButton:hover
    {
        background:         #646464;
    }

    input#userButton:active
    {
        background:         #3d3d3d;
        transition:         background 0.0s ease-in;
    }

    ul#todoList
    {
        list-style-type:    none;
        margin:             15px auto 15px auto;
        padding:            0;
    }

    @keyframes fadeIn { from { opacity: 0.0; } to { opacity: 1.0; } }

    ul#todoList li
    {
        border:             0;
        animation:          fadeIn 1.0s ease-in;
        background:         #a5e2bf;
        height:             40px;
        line-height:        40px;
        margin:             15px 15px 0 15px;
        border-radius:      10px;
    }
